<a href="https://colab.research.google.com/github/rogerfvieira/pizza_slice_nyc/blob/main/cost_per_slice_nyc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.cloud import bigquery 
from google.colab import auth
auth.authenticate_user()

In [ ]:
project_id = 'play-368717'
dataset_id = 'mm_monday'
client = bigquery.Client(project=project_id)

In [ ]:
data_query = """
SELECT 
  Name AS name,
  CONCAT(location_lat,",",location_lng) AS location,
  Date_Expanded__times_in_EST_ AS day,
  Price AS price,
  Style AS type
FROM `play-368717.mm_monday.mm_pizza`
"""

df = client.query(data_query).to_dataframe()

In [ ]:
df

,name,location,day,price,type
0,N & D Pizza,"40.6004632,-73.943072399999991","Sep 5th 2022, 4:37:08 pm",3.35,Plain
1,Enzo's Pizzeria,"40.6842128,-73.8593422","May 27th 2022, 8:14:56 pm",3.26,Plain
2,iPizza NY,"40.7608035,-73.9906251","May 12th 2022, 10:28:11 pm",3.76,Plain
3,Austin Street Pizza,"40.7195744,-73.8426559","Apr 22nd 2022, 5:59:32 pm",3.24,Plain
4,Marinara Pizza,"40.7297781,-73.9865052","Mar 22nd 2022, 7:55:54 pm",4.90,Pepperoni
...,...,...,...,...,...
459,Antonio's Pizzeria & Restaurant,"40.6769775,-73.9725052","Feb 6th 2015, 8:38:40 pm",3.25,Pepperoni
460,Hank's Pizza,"40.7094362,-74.012025299999991","Jul 7th 2021, 7:32:56 pm",3.25,Plain
461,Hank's Pizza,"40.7094362,-74.012025299999991","Jul 7th 2021, 7:32:56 pm",4.35,Plain
462,Carmine's Original Pizza,"40.72555137,-73.95147023","Aug 20th 2014, 2:03:17 pm",2.25,Plain
463,Carmine's Original Pizza,"40.72555137,-73.95147023","Aug 20th 2014, 2:03:17 pm",3.25,Pepperoni

# Data Visualization

https://lookerstudio.google.com/reporting/0a3eb321-3abd-4c80-8e3d-52300409c403